* @grandchallenge/amanuensis

/standards/ @grandchallenge/the-council @grandchallenge/amanuensis
/schemas/ @grandchallenge/the-council @grandchallenge/amanuensis
/decisions/ @grandchallenge/the-council @grandchallenge/amanuensis
/programme-adoption/ @grandchallenge/the-council @grandchallenge/amanuensis
/.github/ @grandchallenge/security @grandchallenge/amanuensis
/ci/ @grandchallenge/security @grandchallenge/amanuensis
